@using Microsoft.AspNet.Identity
<style>
    span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
    }
    span:hover {
        color: #72c393
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul>
            <li class="dropdown">
                <span>@User.Identity.GetUserName()</span>
                <ul class="dropdown" style="border-radius:5px">
                    @if (this.User.IsInRole("BCN") || this.User.IsInRole("Admin"))
                    {

                        <li><a href="@Url.Action("Index","AspNetRoles",new { Area = "Admin"})">Quản Lý</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                    else
                    {
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }

                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="site-menu js-clone-nav d-none d-lg-block">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>
}
