@model IEnumerable<SEPQuestionAnswer.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Danh Sách Danh Mục
                        </h2>
                        <a href="@Url.Action("Create","Categories")" class="btn btn-danger" style="margin-top:15px">Tạo Danh Mục</a>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportableno">
                                <thead>
                                    <tr>
                                        <th>Tên Danh Mục</th>
                                        <th>Trạng Thái</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        @using (Html.BeginForm("UpdateStatus", "Categories", new { id = item.ID }))
                                        {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <input type="checkbox" id="@item.ID" name="@item.ID" value="true" class="filled-in chk-col-green" checked="" onclick="submit(@item.ID);">
                                                <label for="@item.ID"></label>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="@item.ID" name="@item.ID" value="false" class="filled-in chk-col-green" onclick="submit(@item.ID);">
                                                <label for="@item.ID"></label>
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { id = item.ID})" class="btn btn-default">Edit</a>
                                        </td>
                                        }
                                    </tr>              
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function submit(ID) {
        var check = document.getElementById(ID);
        check.addEventListener('change', function (e) {
            if (e.target.checked) {
                check.value = true;
                check.setAttribute('checked','checked');
            } else {
                check.value = false;
                check.removeAttribute('checked');
            }
        });
    }
</script>