
@{
    ViewBag.Title = "Category";
}
<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div class="featured-user  mb-5 mb-lg-0">
                    <h1 class="mb-4">All Categories</h1>

                </div>
            </div>

            <div class="col-lg-9">


                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    @*<div class="image" style="background-image: url('images/img_1.jpg');"></div>*@
                    <img src="@Url.Content("~/asset/images/img_1.jpg")" alt="Image" class="image">
                    <div class="text">

                        <h3 class="font-weight-light"><a href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                            </audio>
                        </div>

                    </div>
                </div>


                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    <img src="@Url.Content("~/asset/images/img_2.jpg")" alt="Image" class="image">
                    @*<img src="@Url.Content("~/images/img_1.jpg")" alt="Image" class="img-fluid mr-2">*@
                    <div class="text">

                        <h3 class="font-weight-light"><a href="single-post.html">Episode 07: How To Create Web Page Using Bootstrap 4</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>

                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                            </audio>
                        </div>

                    </div>
                </div>


                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    <img src="@Url.Content("~/asset/images/img_3.jpg")" alt="Image" class="image">
                    <div class="text">

                        <h3 class="font-weight-light"><a href="single-post.html">Episode 06: How To Create Web Page Using Bootstrap 4</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>


                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    <img src="@Url.Content("~/asset/images/img_4.jpg")" alt="Image" class="image">
                    <div class="text">

                        <h3 class="font-weight-light"><a href="single-post.html">Episode 05: How To Create Web Page Using Bootstrap 4</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>


                <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                    <img src="@Url.Content("~/asset/images/img_5.jpg")" alt="Image" class="image">
                    <div class="text">

                        <h3 class="font-weight-light"><a href="single-post.html">Episode 04: How To Create Web Page Using Bootstrap 4</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#" class="icon-keyboard_arrow_left"></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" class="icon-keyboard_arrow_right"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>