@model IEnumerable<SEPQuestionAnswer.Models.Question>
@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script>
            setTimeout(function() {
                $('.alert').fadeOut('slow');
            }, 5000)
    </script>
}
<main id="main">
    @if (ViewBag.fail != null)
    {
        <div class="alert alert-danger" role="alert" style="position: relative; z-index: 10;">
            @ViewBag.fail
        </div>
    }
    else if (ViewBag.success != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.success
        </div>
    }
        <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up">
                        <img src="@Url.Content("~/assets/img/features-01.jpg")" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-tachometer"></i>
                            <h5 class="card-title"><a href="">Mục tiêu</a></h5>
                            <p class="card-text">Tập trung giải đáp những câu hỏi của sinh viên khoa CNTT. Cho sinh viên 1 câu trả lời rõ ràng, chính xác trong thời gian ngắn nhất.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up" data-aos-delay="150">
                        <img src="@Url.Content("~/assets/img/features-2.jpg")" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-file"></i>
                            <h5 class="card-title"><a href="">Hoạt động</a></h5>
                            <p class="card-text">Sinh viên dễ dàng xem các danh mục, tìm kiếm các câu hỏi mà mình muốn. Sinh viên có thể đặt câu hỏi trong trường hợp không tìm thấy câu hỏi mình muốn hỏi, BCN khoa sẽ trả lời câu hỏi của bạn trong thời gian ngắn nhất. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                        <img src="@Url.Content("~/assets/img/features-3.jpg")" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-show"></i>
                            <h5 class="card-title"><a href="">Tầm nhìn</a></h5>
                            <p class="card-text">FAQ là một trang web giúp tăng độ tương tác giữa các bạn sinh viên với các thành viên trong BCN khoa. Từ đó việc trao đổi giữa sinh viên với BCN khoa sẽ dễ dàng và tiết kiệm được thời gian cho hai bên. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center" data-aos="zoom-in">
                <h3>Frequently Asked Question - CNTT</h3>
                <p>
                    Hỗ trợ trả lời, giải đáp thắc mắc cho sinh viên về những vấn đề liên quan đến ngành <strong>Công Nghệ Thông tin</strong>.
                    Được chính các thầy cô trong <strong>BCN Khoa</strong> trả lời
                </p>

            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-down">
                <span>F.A.Q</span>
                <h2>F.A.Q</h2>
                <p>Các câu hỏi được quan tâm nhiều nhất </p>
            </div>

            <div class="faq-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-id="@item.ID" data-bs-toggle="collapse" class="btn-active collapsed" data-bs-target="#faq-list-@item.ID" aria-expanded="false">@item.AskQuestion<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-@item.ID" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    @Html.Raw(item.Answer)
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->
    <!-- ======= Post Question Section ======= -->
    <section id="post" class="contact">
        <div class="container">
            <div class="section-title" data-aos="fade-down">
                <span>Gửi câu hỏi</span>
                <h2>Gửi câu hỏi</h2>
            </div>
            @using (Html.BeginForm("Create", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextArea("AskQuestion", htmlAttributes: new { @class = "form-control", @placeholder = "Nhập câu hỏi của bạn", @rows = "5", @minLength = "1", @required = true })
                        @Html.ValidationMessage("AskQuestion", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="demo-radio-button" hidden>
                    <label class="form-label" style="color:#AAA; font-weight:100">Tình Trạng</label>
                    @Html.RadioButton("Status", "Pending", htmlAttributes: new { @class = "radio-col-red", @id = "Pending", @checked = "" })
                    <label for="Pending" class="m-l-20">Pending</label>
                    @Html.ValidationMessage("Status", "", new { @class = "text-danger" })
                </div>
                <div class="text-center"><button class="button" type="submit">Gửi Câu Hỏi</button></div>
            }
        </div>
    </section>
    <!-- End Post Question Section -->
    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials" style="padding:0px;">
        <div class="container position-relative">

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item edit">
                            <img src="~/assets/img/icon-mess.png" class="testimonial-img" alt="">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Câu hỏi mà bạn đã gửi sẽ phải chờ để được thầy cô BCN Khoa phê duyệt và trả lời nhé. Chờ đợi là hạnh phúc!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item edit">
                            <img src="~/assets/img/sup.png" class="testimonial-img" alt="">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Need edit 1
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item edit">
                            <img src="~/assets/img/i-quest.png" class="testimonial-img" alt="">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Need edit 2
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div><!-- End Testimonials Section -->
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-down">
                <span>Contact Us</span>
                <h2>Contact Us</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>info@example.com<br>contact@example.com</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Us Section -->
</main><!-- End #main -->
