@{
    ViewBag.Title = "Home Page";
}
<div class="container pt-5 hero">
    <div class="row align-items-center text-center text-md-left">

        <div class="col-lg-4">
            <h1 class="mb-3 display-3">Nơi mọi câu hỏi đều được trả lời</h1>
            <p>Hãy để thầy, cô giải đáp mọi thắc mắc của bạn trong lĩnh vực Công Nghệ Thông Tin</p>
        </div>
        <div class="col-lg-8">
            @*<img src="@Url.Content("~/asset/images/1x/asset-1.png")" alt="Image" class="img-fluid">*@
            <video autoplay playsinline loop muted src="~/asset/images/VL3.mp4"  class="img-fluid" style="width:760px;height:545px;pointer-events:none;"></video>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div class="featured-user  mb-5 mb-lg-0">
                    <h3 class="mb-4">Popular Podcaster</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <img src="@Url.Content("~/asset/images/person_1.jpg")" alt="Image" class="img-fluid mr-2">
                                <div class="podcaster">
                                    <span class="d-block">Claire Stanford</span>
                                    <span class="small">32,420 podcasts</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <img src="@Url.Content("~/asset/images/person_2.jpg")" alt="Image" class="img-fluid mr-2">
                                <div class="podcaster">
                                    <span class="d-block">Dianne Winston</span>
                                    <span class="small">12,381 podcasts</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <img src="@Url.Content("~/asset/images/person_3.jpg")" alt="Image" class="img-fluid mr-2">
                                <div class="podcaster">
                                    <span class="d-block">Borris Larry</span>
                                    <span class="small">9,291 podcasts</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <img src="@Url.Content("~/asset/images/person_4.jpg")" alt="Image" class="img-fluid mr-2">
                                <div class="podcaster">
                                    <span class="d-block">Garry Smith</span>
                                    <span class="small">3,291 podcasts</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <img src="@Url.Content("~/asset/images/person_5.jpg")" alt="Image" class="img-fluid mr-2">
                                <div class="podcaster">
                                    <span class="d-block">Gerson Stack</span>
                                    <span class="small">1,092 podcasts</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                <img src="@Url.Content("~/asset/images/person_6.jpg")" alt="Image" class="img-fluid mr-2">
                                <div class="podcaster">
                                    <span class="d-block">Jenna Stone</span>
                                    <span class="small">911 podcasts</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
      
            <div class="col-lg-9">

                <div style="margin-bottom:10px">
                    <a class="btn text-white radius color-btn" data-toggle="collapse" href="#test" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                        Học gì để giỏi ?
                    </a>
                    <div class="collapse" id="test">
                        <div class="card card-body">
                            aasdlasdl;asdlasdkas;ldkas;ldkas;dlaskdas;ldkas;ldkasl;dkasl;dkas;ldadasdasdasd
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:10px">
                    <a class="btn text-white radius color-btn" data-toggle="collapse" href="#test1" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%">
                        Học gì để trao dồi kỹ năng code Front-end?
                    </a>
                    <div class="collapse" id="test1">
                        <div class="card card-body">
                            adasdasdasdasdasdasdddddddddddddddddddddddddddddddddd
                        </div>
                    </div>
                </div>
                <!--<div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">-->
                    @*<div class="image" style="background-image: url('images/img_1.jpg');"></div>*@
                    <!--<img src="@Url.Content("~/asset/images/img_1.jpg")" alt="Image" class="image">
                    <div class="text">

                        <h3 class="font-weight-light"><a href="single-post.html">Episode 08: How To Create Web Page Using Bootstrap 4</a></h3>
                        <div class="text-white mb-3"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>


                        <div class="player">
                            <audio id="player2" preload="none" controls style="max-width: 100%">
                                <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                            </audio>
                        </div>

                    </div>
                </div>-->



            </div>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#" class="icon-keyboard_arrow_left"></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" class="icon-keyboard_arrow_right"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-blocks-cover overlay inner-page-cover" style="background-image: url(/asset/images/FAQ-720x380.png)" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <h2>Nơi bạn có thể đạt câu hỏi</h2>
                <p class="mb-5">Mọi câu hỏi thắc mắc của bạn sẽ được Ban chủ nhiệm Khoa trả lời. Hãy đặt câu hỏi đừng ngại!</p>
                <form action="#" method="post" class="site-block-subscribe">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Đặt câu hỏi ở đây!" aria-label="Enter Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2"><strong>Gửi</strong></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>