@model IEnumerable<SEPQuestionAnswer.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up">
                        <img src="@Url.Content("~/assets/img/features-1.jpg")" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-tachometer"></i>
                            <h5 class="card-title"><a href="">Our Mission</a></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up" data-aos-delay="150">
                        <img src="@Url.Content("~/assets/img/features-2.jpg")" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-file"></i>
                            <h5 class="card-title"><a href="">Our Plan</a></h5>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                        <img src="@Url.Content("~/assets/img/features-3.jpg")" class="card-img-top" alt="...">
                        <div class="card-body">
                            <i class="bx bx-show"></i>
                            <h5 class="card-title"><a href="">Our Vision</a></h5>
                            <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center" data-aos="zoom-in">
                <h3>Frequently Asked Question - CNTT</h3>
                <p>
                    Hỗ trợ trả lời, giải đáp thắc mắc cho sinh viên về những vấn đề liên quan đến ngành <strong>Công Nghệ Thông tin</strong>.
                    Được chính các thầy cô trong <strong>BCN Khoa</strong> trả lời
                </p>

            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-down">
                <span>F.A.Q</span>
                <h2>F.A.Q</h2>
                <p>Các câu hỏi được quan tâm nhiều nhất </p>
            </div>

            <div class="faq-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-id="@item.ID" data-bs-toggle="collapse" class="btn-active collapsed" data-bs-target="#faq-list-@item.ID" aria-expanded="false">@item.AskQuestion<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-@item.ID" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    @Html.Raw(item.Answer)
                                </p>
                            </div>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->
    <!-- ======= Post Question Section ======= -->
    @*@if (Request.IsAuthenticated)
    {*@
        <section id="post" class="contact">
            <div class="container">
                <div class="section-title" data-aos="fade-down">
                    <span>Post Question</span>
                    <h2>Gửi câu hỏi</h2>
                </div>
                @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea class="form-control" name="AskQuestion" rows="5" placeholder="Message" required></textarea>
                            @Html.ValidationMessage("AskQuestion", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="demo-radio-button" hidden>
                        <label class="form-label" style="color:#AAA; font-weight:100">Tình Trạng</label>
                        @Html.RadioButton("Status", "Pending", htmlAttributes: new { @class = "radio-col-red", @id = "Pending", @checked = "" })
                        <label for="Pending" class="m-l-20">Pending</label>
                        @Html.ValidationMessage("Status", "", new { @class = "text-danger" })
                    </div>
                    <div class="text-center"><button class="button" type="submit">Send Message</button></div>
                }
            </div>
        </section>
    @*}*@
    <!-- End Post Question Section -->
    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials" style="padding:0px;">
        <div class="container position-relative">

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item edit">
                            <img src="~/assets/img/icon-mess.png" class="testimonial-img" alt="">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Câu hỏi mà bạn đã gửi sẽ phải chờ để được thầy cô BCN Khoa phê duyệt và trả lời nhé. Chờ đợi là hạnh phúc!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div><!-- End Testimonials Section -->
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-down">
                <span>Contact Us</span>
                <h2>Contact Us</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>info@example.com<br>contact@example.com</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Us Section -->
</main><!-- End #main -->
