@model IEnumerable<SEPQuestionAnswer.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<section class="content">
    <div class="container-fluid">
        @if (ViewBag.success != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.success
            </div>
        }
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="padding-bottom:0">
                        <h2>
                            Danh Sách Câu Hỏi
                        </h2>
                        <div style="margin:20px 0">
                            <a href=@Url.Action("Create","Questions") class="btn btn-danger">Tạo Câu Hỏi</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportablenosort">
                                <thead>
                                    <tr>
                                        <th>Câu Hỏi</th>
                                        <th>Người Hỏi</th>
                                        <th>Người Trả Lời</th>
                                        <th style="width:65px">Danh Mục</th>
                                        <th style="width:70px">Tình Trạng</th>
                                        <th style="width:65px">Lượt Xem</th>
                                        <th style="width:45px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">@item.AskQuestion</td>
                                            @*<td>@Html.Raw(!String.IsNullOrEmpty(item.Answer) ? item.Answer.Substring(0, Math.Min(item.Answer.Length, 40)) : item.Answer)</td>*@
                                            <td>@Html.DisplayFor(modelItem => item.Questioner)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Respondent)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                                            @if (item.Status == "Accept")
                                            {
                                                <td style="color:forestgreen">
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                            }
                                            else if (item.Status == "Pending")
                                            {
                                                <td style="color:red">
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                            }
                                            else if (item.Status == "Disable")
                                            {
                                                <td style="color:dimgrey">
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                            }
                                            <td>@Html.DisplayFor(modelItem => item.CountView)</td>
                                            <td>
                                                <a style="text-decoration:none" href="@Url.Action("Edit", new { id = item.ID})">
                                                    <i class="fas fa-pen"></i> |
                                                </a>
                                                <a style="text-decoration:none" href="@Url.Action("Details", new { id = item.ID})">
                                                    <i class="fas fa-info"></i> |
                                                </a>
                                                <a style="text-decoration:none" href="@Url.Action("Delete", new { id = item.ID})">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 5000)
</script>

