@model IEnumerable<SEPQuestionAnswer.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            <a href="@Url.Action("SortByStatus")">Trang thai</a>
        </th>
    </tr>


    @foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { id = item.ID})">@item.AskQuestion</a>
        </td>
        <td>
            @item.Category.CategoryName
            <br />
            View: @item.CountView
        </td>
        <td>
            @item.StatusQuestion.StatusName
        </td>    
    </tr>
    }

</table>
